<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{layout :: layout(~{::section})}">
<section>
    <h2>Admin Panel</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.title}">Title</td>
            <td th:text="${book.author}">Author</td>
            <td th:text="${book.price}">0.00</td>
            <td>
                <form th:action="@{/admin/books/delete/{id}(id=${book.id})}" method="post" th:object="${book}">
                    <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</section>
</html>
